.App {
  text-align: center;
}

#amount{
  color: pink;
  font-size: 44px;

}

#amount:hover{
  color: red;
  cursor: pointer;
}

#deposit{
  color: red;
  cursor: pointer;
}

#withdraw{
  color: green;
  cursor: pointer;
}


#deposit:hover{
  color: yellow;
  background-color: red;
  font-size: 40px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20%;
}